.host-wrapper {
	position: absolute;
	background: rgba(0,0,0,0.35);
	width: 100%;
}

.host-name {
	position: relative;
	top: -30px;
	left: 50px;
	font-weight: 500;
	color: whitesmoke;
}

.host-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  transition: .5s ease;
  background-color: #aaaaaa;
}

.container:hover .overlay {
  opacity: 0;
}

.container:hover .host-wrapper {
	opacity: 0;
}

.text {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}