.host-wrapper {
	position: absolute;
	background: rgba(0,0,0,0.35);
	width: 100%;
}

.host-name {
	position: relative;
	top: -20px;
	left: 40px;
	font-weight: 500;
}

.host-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}